@font-face {
  font-family: Quicksand-SemiBold;
  src: url('../fonts/Quicksand-SemiBold.ttf');
}

@font-face {
  font-family: Quicksand-Bold;
  src: url('../fonts/Quicksand-Bold.ttf');
}

@font-face {
  font-family: NotoSansSC-Regular;
  src: url('../fonts/NotoSansSC-Regular.otf');
}

@font-face {
  font-family: Lineto-Brown-Bold;
  src: url('../fonts/lineto-brown-pro-bold.ttf');
}

@font-face {
  font-family: Lineto-Brown-Regular;
  src: url('../fonts/lineto-brown-pro-regular.ttf');
}

@font-face {
  font-family: BalooTammudu-SemiBold;
  src: url('../fonts/BalooTammudu2-SemiBold.ttf');
}

@font-face {
  font-family: NotoSerifJP-SemiBold;
  src: url('../fonts/NotoSerifJP-SemiBold.otf');
}